In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir("F://NMIMS//sem2//ML")

In [3]:
df = pd.read_csv("h1b_kaggle.csv")

In [4]:
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [5]:
# * X1 - not named column, it is the id of the row;      
# * CASE_STATUS - status of the application;  
# * EMPLOYER_NAME - the name of the employer as registered in the H-1B Visa application;     
# * SOC_NAME - the occupation code for the employment;    
# * JOB_TITLE - the job title for the employment;    
# * FULL_TIME_POSITION - whether the application is for a full-time position of for a part-time position;    
# * PREVAILING_WAGE - the most frequent wage for the corresponding role as filled in the Visa application;  
# * YEAR - the application year;    
# * WORKSITE - the address of the employer worksite;    
# * lon - longitude of the employer worksite;    
# * lat - latitude of the employer worksite;

In [6]:
df.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [7]:
df.shape

(3002458, 11)

In [8]:
df["YEAR"].value_counts()

2016.0    647803
2015.0    618727
2014.0    519427
2013.0    442114
2012.0    415607
2011.0    358767
Name: YEAR, dtype: int64

In [9]:
#htyuremove the withdrawn class. That means all the features representing the withdrawn class will be removed from the dataset.

In [16]:
import warnings
warnings.filterwarnings("ignore")

df.CASE_STATUS[  df['CASE_STATUS'] ==  'REJECTED'] = 'DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='INVALIDATED'] = 'DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED'] = 'DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='CERTIFIED-WITHDRAWN'] = 'CERTIFIED'

In [17]:
##Drop rows with withdrawn
df.EMPLOYER_NAME.describe()
df = df.drop(df[df.CASE_STATUS == 'WITHDRAWN'].index)

In [18]:
## Storing non null in df w.r.t. case status
df = df[df['CASE_STATUS'].notnull()]
print(df['CASE_STATUS'].value_counts())

CERTIFIED    2818282
DENIED         94364
Name: CASE_STATUS, dtype: int64

In [19]:
df.shape

(2912646, 11)

In [20]:
##check count of NAN
count_nan = len(df) - df.count()
print(count_nan)

Unnamed: 0                 0
CASE_STATUS                0
EMPLOYER_NAME              0
SOC_NAME               17073
JOB_TITLE                 10
FULL_TIME_POSITION         1
PREVAILING_WAGE           53
YEAR                       0
WORKSITE                   0
lon                   102844
lat                   102844
dtype: int64

In [21]:
## Filling na in employer name with mode
df['EMPLOYER_NAME'] = df['EMPLOYER_NAME'].fillna(df['EMPLOYER_NAME'].mode()[0])

In [22]:
count_nan = len(df) - df.count()
print(count_nan)

Unnamed: 0                 0
CASE_STATUS                0
EMPLOYER_NAME              0
SOC_NAME               17073
JOB_TITLE                 10
FULL_TIME_POSITION         1
PREVAILING_WAGE           53
YEAR                       0
WORKSITE                   0
lon                   102844
lat                   102844
dtype: int64

In [23]:
##to check the percentile in wages
print(np.nanpercentile(df.PREVAILING_WAGE,98))
df.PREVAILING_WAGE.median()

138611.0

65000.0

In [24]:
# alternate solution 
df["PREVAILING_WAGE"] = df["PREVAILING_WAGE"].fillna(df["PREVAILING_WAGE"].median())
#df["PREVAILING_WAGE"].median()

In [25]:
count_nan = len(df) - df.count()
print(count_nan)

Unnamed: 0                 0
CASE_STATUS                0
EMPLOYER_NAME              0
SOC_NAME               17073
JOB_TITLE                 10
FULL_TIME_POSITION         1
PREVAILING_WAGE            0
YEAR                       0
WORKSITE                   0
lon                   102844
lat                   102844
dtype: int64

In [26]:
## Filling na in JOB_TITLE and FULL_TIME_POSITION with mode
df['JOB_TITLE'] = df['JOB_TITLE'].fillna(df['JOB_TITLE'].mode()[0])
df['FULL_TIME_POSITION'] = df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0])
df['SOC_NAME'] = df['SOC_NAME'].fillna(df['SOC_NAME'].mode()[0])

In [27]:
count_nan = len(df) - df.count()
print(count_nan)

Unnamed: 0                 0
CASE_STATUS                0
EMPLOYER_NAME              0
SOC_NAME                   0
JOB_TITLE                  0
FULL_TIME_POSITION         0
PREVAILING_WAGE            0
YEAR                       0
WORKSITE                   0
lon                   102844
lat                   102844
dtype: int64

In [28]:
# Dropping lat and lon columns
df = df.drop('lat', axis = 1)
df = df.drop('lon', axis = 1)

In [29]:
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
0,1,CERTIFIED,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN"
1,2,CERTIFIED,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS"
2,3,CERTIFIED,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY"
3,4,CERTIFIED,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO"
5,6,CERTIFIED,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.0,2016.0,"MIAMI, FLORIDA"

In [30]:
df.isnull().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
dtype: int64

In [31]:
df.shape

(2912646, 9)

In [32]:
#dropping these columns
df = df.drop('EMPLOYER_NAME', axis = 1)
df = df.drop('SOC_NAME', axis = 1)
df = df.drop('JOB_TITLE', axis = 1)
df = df.drop('WORKSITE', axis = 1)
df = df.drop('Unnamed: 0', axis = 1)
df1 = df.copy()

In [33]:
df1 = df.copy()
df1.head()

  CASE_STATUS FULL_TIME_POSITION  PREVAILING_WAGE    YEAR
0   CERTIFIED                  N          36067.0  2016.0
1   CERTIFIED                  Y         242674.0  2016.0
2   CERTIFIED                  Y         193066.0  2016.0
3   CERTIFIED                  Y         220314.0  2016.0
5   CERTIFIED                  Y         225000.0  2016.0

In [34]:
from sklearn import preprocessing
class_mapping = {'CERTIFIED':0, 'DENIED':1}

In [35]:
df["CASE_STATUS"] = df["CASE_STATUS"].map(class_mapping)

In [36]:
class_mapping_1 = {'N':0, 'Y':1}
df["FULL_TIME_POSITION"] = df["FULL_TIME_POSITION"].map(class_mapping_1)

In [37]:
df.head()

   CASE_STATUS  FULL_TIME_POSITION  PREVAILING_WAGE    YEAR
0            0                   0          36067.0  2016.0
1            0                   1         242674.0  2016.0
2            0                   1         193066.0  2016.0
3            0                   1         220314.0  2016.0
5            0                   1         225000.0  2016.0

In [38]:
from sklearn.model_selection import GridSearchCV

In [39]:
# importing packages

from sklearn.model_selection import GridSearchCV,cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression,RidgeCV,LassoCV,ElasticNetCV,Lasso

from sklearn.metrics import accuracy_score,mean_squared_error,r2_score

In [40]:
X = df.drop(["CASE_STATUS"],1)
y = df["CASE_STATUS"]

In [41]:
# Creating train and test data
from sklearn.model_selection import train_test_split as tts 
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.30,random_state=40)

In [42]:
#Model analysis :
#-----> Logistic Regression 

LogReg=LogisticRegression()
LogReg.fit(X_train,y_train)
y_pred = LogReg.predict(X_test)

print("r2_score",r2_score(y_test,y_pred))
print("cross_val_score",cross_val_score(LogReg,X_train,y_train,cv=10).mean())

r2_score -0.017077452702719764
cross_val_score 0.9680761525557005

In [43]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
params = {"criterion":["gini", "entropy"],
        "max_depth":np.arange(1,20), 
         "min_samples_split":np.arange(0.01,0.13, 0.01)}

In [48]:
dtc_cv = GridSearchCV(dtc, param_grid=params, cv = 2)

In [49]:
dtc_cv.fit(X,y)

GridSearchCV(cv=2, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19]), 'min_samples_split': array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [50]:
dtc_cv.best_score_

0.5987050949548967